/* ==========================
        STATS
========================== */

.stats-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:22px;

    margin-top:25px;

}

.stat-card{

    background:white;

    border-radius:22px;

    padding:24px;

    border:1px solid #E5E7EB;

    transition:.25s;

}

.stat-card:hover{

    transform:translateY(-5px);

    box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.stat-top{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.stat-icon{

    width:54px;
    height:54px;

    border-radius:16px;

    display:flex;

    justify-content:center;

    align-items:center;

}

.stat-card h2{

    margin-top:24px;

    font-size:32px;

    color:#0F172A;

}

.stat-card h4{

    margin-top:8px;

    font-size:16px;

    color:#475569;

}

.stat-card p{

    margin-top:12px;

    font-size:14px;

    color:#22C55E;

}